@import "bootstrap/dist/css/bootstrap.min.css";
@import "shared/Header.css";

.container {
  overflow:auto;
}

html {
  --pakyrion-white: white;
  --pakyrion-lightgrey: #f5f5f5;
  --pakyrion-grey: #ced4da;
  --pakyrion-text: black;
  --pakyrion-green: #01b222;
}

a {
  text-decoration: none;
  color: var(--pakyrion-text);
}

a:hover {
  color: var(--pakyrion-green);
}

main {
  background: var(--pakyrion-lightgrey);
  min-height: 100vh;
}

.main-card {
  background: var(--pakyrion-white);
  margin-top: 4em;
  padding: 5em 6em;
}

.form-button {
  background: var(--pakyrion-grey);
  color: var(--pakyrion-text);
  border-color: var(--pakyrion-grey);
}

.form-button:hover {
  background: var(--pakyrion-green);
  color: var(--pakyrion-white);
  border-color: var(--pakyrion-grey);
}

.form-button-width-100 {
  width: 100%;
}
